@import '.functions';

$dark: (
   textColor: rgb(255, 255, 255),
   textColor-20:rgb(243, 234, 224, 0.2),
   backgroundColor: rgb(13, 8, 14),
   backgroundColor-20:rgb(13, 8, 14, 0.2),
   red: rgb(193, 72, 31),
   blue: rgb(115, 149, 181),
   green: rgb(130, 106, 13),
   yellow: rgb(227, 163, 39),
   )