@import "variables";
@import "mixin";

$theme-map-light: (
   $--textColor: rgb(13, 8, 14),
   $--textColor-20: rgb(13, 8, 14, 0.2),
   $--backgroundColor: rgb(255, 255, 255),
   $--backgroundColor-20: rgb(243, 234, 224, 0.2),
   $--red: #c1481f,
   $--blue: #4575a5,
   $--green: #957a0f,
   $--yellow: #9c6c0d
);

$theme-map-dark: (
   $--textColor: rgb(255, 255, 255),
   $--textColor-20: rgb(243, 234, 224, 0.2),
   $--backgroundColor: rgb(13, 8, 14),
   $--backgroundColor-20: rgb(13, 8, 14, 0.2),
   $--red: #d55130,
   $--blue: #628bb3,
   $--green: #826a0d,
   $--yellow: #e3a327
);
