//Colors
$--textColor: --textColor;
$--textColor-20: --textColor-20;
$--backgroundColor: --backgroundColor;
$--backgroundColor-20: --backgroundColor-20;
$--red: --red;
$--blue: --blue;
$--green: --green;
$--yellow: --yellow;

//Fonts
$--font-size-xl: --font-size-xl;
$--font-size-l: --font-size-l;
$--font-size-m: --font-size-m;
$--font-size-s: --font-size-s;
$--font-size-xs: --font-size-xs;

//Layout
$--padding-body: --padding-body;
