@media (prefers-color-scheme: light) {
  :root {
    --textColor: rgb(13, 8, 14);
    --textColor-20: rgba(13, 8, 14, 0.2);
    --backgroundColor: rgb(255, 255, 255);
    --backgroundColor-20: rgba(243, 234, 224, 0.2);
    --red: #c1481f;
    --blue: #4575a5;
    --green: #957a0f;
    --yellow: #9c6c0d;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --textColor: rgb(255, 255, 255);
    --textColor-20: rgba(243, 234, 224, 0.2);
    --backgroundColor: rgb(13, 8, 14);
    --backgroundColor-20: rgba(13, 8, 14, 0.2);
    --red: #d55130;
    --blue: #628bb3;
    --green: #826a0d;
    --yellow: #e3a327;
  }
}
.light {
  --textColor: rgb(13, 8, 14);
  --textColor-20: rgba(13, 8, 14, 0.2);
  --backgroundColor: rgb(255, 255, 255);
  --backgroundColor-20: rgba(243, 234, 224, 0.2);
  --red: #c1481f;
  --blue: #4575a5;
  --green: #957a0f;
  --yellow: #9c6c0d;
}

.dark {
  --textColor: rgb(255, 255, 255);
  --textColor-20: rgba(243, 234, 224, 0.2);
  --backgroundColor: rgb(13, 8, 14);
  --backgroundColor-20: rgba(13, 8, 14, 0.2);
  --red: #d55130;
  --blue: #628bb3;
  --green: #826a0d;
  --yellow: #e3a327;
}

:root {
  color-scheme: light dark;
  --font-size-xl: 4rem;
  --font-size-l: 2.25rem;
  --font-size-m: 1.5rem;
  --font-size-s: 1.25rem;
  --font-size-xs: 1rem;
  --padding-body: 5rem;
  font-family: "IBM Plex Sans", "Inter", "Arial", sans-serif;
}
:root .material-icons.md-36 {
  font-size: 36px;
}

@media screen and (max-width: 800px) {
  :root {
    --padding-body: 2.5rem;
  }
  body .portfolio-item--container_responsive-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.5rem;
    margin-bottom: 5em;
    box-sizing: "border-box";
  }
  body .portfolio-item--image_hero {
    height: 250px !important;
    width: auto !important;
  }
  body .figure--video {
    height: 250px !important;
  }
  body #about-me-content {
    flex-direction: column;
    gap: 1rem;
  }
}
@media screen and (max-width: 580px) {
  :root {
    --font-size-xl: 3rem;
    --font-size-l: 1.5rem;
    --font-size-m: 1.25rem;
    --font-size-s: 1.125rem;
    --font-size-xs: 1rem;
    --padding-body: 2.5rem;
  }
  body #camod-name {
    width: 0;
    height: 0;
    padding-left: 0 !important;
    overflow: hidden;
  }
  body .section--avatar img {
    width: 200px !important;
  }
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.yellow {
  color: var(--yellow);
}

@keyframes press {
  from {
    scale: 0.9;
  }
  to {
    scale: 1;
  }
}
@keyframes fade-in-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-150px);
    opacity: 0.2;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
.body--section, .body--section_error, .body--section_footer, .body--section_contact_hidden, .body--section_contact, .body--section_portfolio, .body--section_about-me, .body--section_header {
  display: flex;
  flex-direction: column;
  padding-left: var(--padding-body);
  padding-right: var(--padding-body);
  margin-bottom: var(--padding-body);
  gap: 2rem;
}
.body--section_header {
  align-items: baseline;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: var(--backgroundColor);
  border-bottom: 1px solid var(--textColor);
}
.body--section_about-me {
  height: fit-content;
  min-height: 100vh;
}
.body--section_portfolio {
  position: relative;
  align-items: center;
  padding: 0;
}
.body--section_contact {
  padding-top: 2.5rem;
  border-top: 1px solid var(--textColor);
  opacity: 1;
  transform: translateY(0px);
  transition: transform, opacity 400ms ease-in-out;
}
.body--section_contact_hidden {
  padding-top: 2.5rem;
  border-top: 1px solid var(--textColor);
  opacity: 0;
  transform: translateY(var(--padding-body));
}
.body--section_footer {
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: var(--padding-body);
  margin-bottom: calc(var(--padding-body) / 2);
}
.body--section_error {
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  gap: 1rem;
  width: 100%;
}

.section--anchor, .section--anchor_portfolio, .section--anchor_about-me {
  position: absolute;
  visibility: hidden;
}
.section--anchor_about-me {
  top: -15rem;
}
.section--anchor_portfolio {
  top: -5rem;
}
.section--header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding: var(--padding-body);
  background: url("/assets/line-distortions-4-transparentcolours.png") no-repeat center;
  background-size: cover;
}
.section--container_row {
  display: flex;
  gap: 1rem;
}
.section--container_row_space-between {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section--container_column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.5rem;
  padding-left: var(--padding-body);
  padding-right: var(--padding-body);
}
.section--container_column_border-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--textColor);
}
.section--container_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
}
.section--avatar {
  width: fit-content;
  height: fit-content;
  border-radius: 100px;
  overflow: visible;
  margin-right: var(--padding-body);
}
.section--avatar img {
  width: 250px;
  height: auto;
  object-position: top;
  object-fit: cover;
  clip-path: circle();
}
.section--heading, .section--heading_sm, .section--heading_md, .section--heading_lg, .section--heading_xl {
  width: fit-content;
}
.section--heading_xl {
  font-size: var(--font-size-xl);
  font-weight: normal;
}
.section--heading_lg {
  font-size: var(--font-size-l);
  font-weight: normal;
}
.section--heading_md {
  font-size: var(--font-size-m);
  font-weight: 500;
}
.section--heading_sm {
  font-size: var(--font-size-s);
  font-weight: normal;
}
.section--paragraph {
  font-size: 1rem;
  opacity: 0.8;
}
.section--paragraph_centered {
  align-self: center;
  text-align: center;
}
.section--callout {
  padding: 1rem;
  width: 33%;
  min-width: 230px;
  height: fit-content;
  margin-left: auto;
  border: 2px dotted var(--yellow);
  animation: fade-in-right;
  animation-duration: 800ms;
}
.section--link, .section--link_with-icon_lg, .section--link_with-icon {
  width: fit-contents;
  text-decoration: none;
  color: var(--textColor);
}
.section--link:hover, .section--link_with-icon_lg:hover, .section--link_with-icon:hover {
  text-decoration: underline;
}
.section--link:active, .section--link_with-icon_lg:active, .section--link_with-icon:active {
  opacity: 0.8;
}
.section--link:focus, .section--link_with-icon_lg:focus, .section--link_with-icon:focus {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0001) 60%, var(--textColor-20) 60%);
}
.section--link:focus-visible, .section--link_with-icon_lg:focus-visible, .section--link_with-icon:focus-visible {
  outline: 2px solid var(--textColor);
  outline-offset: 0.25em;
}
.section--link_button {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.section--link_bg-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  gap: 2.5rem;
  background-color: var(--backgroundColor);
  filter: invert(5%);
}
.section--link_with-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section--link_with-icon:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0001) 50%, var(--textColor-20) 50%);
  text-decoration: none;
}
.section--link_with-icon_lg {
  display: flex;
  align-items: inherit;
  margin-right: auto;
  gap: 1rem;
  padding-left: 1rem;
  text-wrap: nowrap;
  font-size: var(--font-size-l);
  text-decoration: none;
}
.section--link_with-icon_lg span {
  height: 40px;
  width: 42px;
  background-color: var(--textColor);
  -webkit-mask: url(/assets/SVG/camod-logo-black.svg) no-repeat center;
  mask: url(/assets/SVG/camod-logo-black.svg) no-repeat center;
}

.link-button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0.5rem 1rem;
  height: fit-content;
  background-color: var(--red);
  color: var(--backgroundColor);
  font-size: var(--font-size-s);
  text-decoration: none;
}
.link-button:hover {
  scale: 1.01;
  transition: all 100ms;
}
.link-button:active {
  scale: 0.9;
  transition: all 100ms;
}
.link-button:focus {
  outline: 2px solid var(--textColor);
}
.link-button:focus-visible {
  outline: 2px solid var(--textColor);
  animation: press 0.5s ease;
}
.link-button--label {
  font-size: var(--font-size-s);
}
.link-button--label_sm {
  font-size: var(--font-size-xs);
}

.portfolio-item--header {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem 5rem 2.5rem 0;
  gap: 2rem;
  height: fit-content;
  row-gap: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  position: relative;
  border-top: 1px solid var(--textColor);
  background-color: var(--backgroundColor);
  z-index: 1;
  cursor: pointer;
}
.portfolio-item--header:focus {
  outline: 3px solid var(--yellow);
}
.portfolio-item--header:focus-visible {
  outline: 3px solid var(--yellow);
}
.portfolio-item--name {
  font-size: var(--font-size-l);
  font-weight: normal;
}
.portfolio-item--date {
  opacity: 0.7;
}
.portfolio-item--taglist {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.portfolio-item--tag {
  text-wrap: nowrap;
  padding: 0.3rem 0.5rem;
  border: 1px solid;
  font-size: var(--font-size-s);
}
.portfolio-item--accordion-button {
  position: absolute;
  right: 0rem;
  padding: 0.5rem;
  transition: all 0.3s;
  align-self: flex-start;
  cursor: pointer;
}
.portfolio-item--accordion-button:hover {
  transform: translateY(5px);
  transition: all 0.2s ease;
}
.portfolio-item--accordion-button_active {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.portfolio-item--accordion-button_active:hover {
  transform: translateY(-5px) rotate(180deg);
  transition: all 0.2s ease;
}
.portfolio-item--details {
  display: flex;
  height: auto;
  flex-direction: column;
  padding-bottom: 5rem;
  overflow: hidden;
  border-bottom: 1px solid var(--textColor);
  z-index: 0;
  overflow: hidden;
  transform: translate(0);
  transition: transform ease 500ms;
}
.portfolio-item--details_collapsed {
  display: flex;
  height: auto;
  flex-direction: column;
  padding-bottom: 5rem;
  overflow: hidden;
  border-bottom: 1px solid var(--textColor);
  z-index: 0;
  overflow: hidden;
  transform: translateY(-100px);
}
.portfolio-item--container_rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: 2.5rem 0;
}
.portfolio-item--container_responsive-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin-bottom: 5em;
  grid-auto-flow: row;
}
.portfolio-item--description, .portfolio-item--description_figure, .portfolio-item--description_summary, .portfolio-item--description_objective {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0;
}
.portfolio-item--description_objective {
  flex: 1;
  min-width: 300px;
}
.portfolio-item--description_summary {
  flex: 2;
  min-width: 300px;
}
.portfolio-item--figure {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.portfolio-item--image, .portfolio-item--image_hero {
  width: 100%;
  height: auto;
  opacity: 0.9;
  object-fit: cover;
}
.figure {
  margin: 0;
}
.figure--heading {
  font-size: var(--font-size-s);
  font-weight: normal;
}
.figure--text {
  opacity: 0.7;
}
.figure--image {
  width: 100%;
  height: auto;
  opacity: 0.8;
}
.figure--video {
  width: 100%;
  height: 600px;
}

.toggle-button {
  color: var(--backgroundColor);
  background-color: var(--textColor);
  border: none;
  width: calc(var(--font-size-l) + 1.5rem);
  height: calc(var(--font-size-l) + 1.5rem);
  border-radius: calc((var(--font-size-l) + 1.5rem) / 2);
  z-index: 3;
  flex-shrink: 0;
}
.toggle-button span {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-l);
}
.toggle-button:focus {
  outline: 2px solid var(--textColor);
  outline-offset: 3px;
}

/*# sourceMappingURL=styles.css.map */
