@import "tailwindcss";
@import "tailwindcss" layer(utilities);

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  :root .material-icons.md-36 {
    font-size: 36px;
    --text-color:                                                  
;
  }
}

@theme {
  --color-vigor-100: oklch(97% 0.014911 356.6);
  --color-vigor-400: oklch(77% 0.136222 18.5);
  --color-vigor-600: oklch(47% 0.187166 21.7);
  --color-vigor-900: oklch(27.1% 0.107507 26.6);

  --color-grit-100: oklch(97.7% 0.133186 108.6);
  --color-grit-400: oklch(77% 0.110713 83.1);
  --color-grit-600: oklch(47% 0.136952 40.5);
  --color-grit-900: oklch(27% 0.075153 43.9);

  --color-fresh-100: oklch(97% 0.065494 131.1);
  --color-fresh-400: oklch(77% 0.166748 153.5);
  --color-fresh-600: oklch(47.1% 0.114574 153.4);
  --color-fresh-900: oklch(27% 0.067125 154.7);

  --color-calm-100: oklch(97.8% 0.031779 196.6);
  --color-calm-400: oklch(77% 0.117388 260.1);
  --color-calm-600: oklch(47% 0.25462 267.7);
  --color-calm-900: oklch(27% 0.176145 265.1);
}

@layer base {
  @media (prefers-color-scheme: light) {
    :root {
      --textColor: 13 8 14;
      --backgroundColor: 255 255 255;
      --red: 193 72 31;
      --blue: 69 117 165;
      --green: 130 106 13;
      --cobalt: 0 20 200;
      --yellow: 156 108 13;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --textColor: 255 255 255;
      --backgroundColor: 13 8 14;
      --red: 213 81 48;
      --blue: 98 139 179;
      --cobalt: 0 20 200;
      --green: 149 122 15;
      --yellow: 227 163 39;
    }
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

summary::marker {
  display: none;
}

.logo {
  -webkit-mask-image: url(/assets/SVG/camod-logo-black.svg);
  mask-image: url(/assets/SVG/camod-logo-black.svg);
}

em {
  font-style: italic;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

strong {
  opacity: 100% !important;
}
