@import "variables";
@import "themes";
@import "mixin";

//Sass command: sass --watch styles\styles.scss:styles\styles.css

// Themes
@media (prefers-color-scheme: light) {
   :root {
      @include spread-map($theme-map-light);
   }
}

@media (prefers-color-scheme: dark) {
   :root {
      @include spread-map($theme-map-dark);
   }
}

.light {
   @include spread-map($theme-map-light);
}

.dark {
   @include spread-map($theme-map-dark);
}

// Variables
:root {
   color-scheme: light dark;
   @include spread-map($theme-map-desktop);

   .material-icons.md-36 {
      font-size: 36px;
   }

   font-family: "IBM Plex Sans", "Inter", "Arial", sans-serif;
}

// Media Queries
@media screen and (max-width: 800px) {
   :root {
      --padding-body: 2.5rem;
   }

   body {
      .portfolio-item--container_responsive-grid {
         display: flex;
         flex-direction: column;
         width: 100%;
         gap: 2.5rem;
         margin-bottom: 5em;
         box-sizing: "border-box";
      }

      .portfolio-item--image_hero {
         height: 250px !important;
         width: auto !important;
      }

      .figure--video {
         height: 250px !important;
      }

      #about-me-content {
         flex-direction: column;
         gap: 1rem;
      }
   }
}

@media screen and (max-width: 580px) {
   :root {
      @include spread-map($theme-map-mobile);
   }

   body {
      #camod-name {
         width: 0;
         height: 0;
         padding-left: 0 !important;
         overflow: hidden;
      }

      .section--avatar {
         img {
            width: 200px !important;
         }
      }
   }
}

// Mixes
.sr-only {
   position: absolute;
   left: -10000px;
   top: auto;
   width: 1px;
   height: 1px;
   overflow: hidden;
}

.red {
   color: var(--red);
}

.green {
   color: var(--green);
}

.blue {
   color: var(--blue);
}

.yellow {
   color: var(--yellow);
}

// Animations

@keyframes press {
   from {
      scale: 0.9;
   }

   to {
      scale: 1;
   }
}

@keyframes slide-down {
   from {
      transform: translateY(-150px);
      opacity: 0.2;
   }

   to {
      transform: translateY(0px);
      opacity: 1;
   }
}

html {
   scroll-behavior: smooth;
}

//Elements
* {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
   margin: 0;
}

// Classes
.body {
   display: flex;
   flex-direction: column;
   margin: 0;
   background-color: var(--backgroundColor);
   color: var(--textColor);

   &--section {
      display: flex;
      flex-direction: column;
      padding-left: var(--padding-body);
      padding-right: var(--padding-body);
      margin-bottom: var(--padding-body);
      gap: 2rem;

      &_header {
         @extend .body--section;
         align-items: baseline;
         justify-content: space-between;
         padding-top: 32px;
         padding-bottom: 32px;

         position: sticky;
         z-index: 2;
         top: 0;

         background-color: var(--backgroundColor);
         border-bottom: 1px solid var(--textColor);
      }

      &_about-me {
         @extend .body--section;
         height: fit-content;
         min-height: 100vh;
      }

      &_portfolio {
         @extend .body--section;
         position: relative;
         align-items: center;
         padding: 0;
      }

      &_contact {
         @extend .body--section;
         padding-top: 2.5rem;
         border-top: 1px solid var(--textColor);
         opacity: 1;
         transform: translateY(0px);
         transition: transform,opacity 400ms ease-in-out;

         &_hidden {
            @extend .body--section;
            padding-top: 2.5rem;
            border-top: 1px solid var(--textColor);
            opacity: 0;
            transform: translateY(var(--padding-body));
         }
      }

      &_footer {
         @extend .body--section;
         flex-direction: row;
         justify-content: space-between;
         align-items: baseline;
         margin-top: var(--padding-body);
         margin-bottom: calc(var(--padding-body)/2);

      }

      &_error {
         @extend .body--section;
         gap: 2.5rem;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 50vh;
      }
   }
}

.navigation {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: baseline;
   gap: 1rem;
   width: 100%;
}

.section {
   &--anchor {
      position: absolute;
      visibility: hidden;

      &_about-me {
         @extend .section--anchor;
         top: -15rem;
      }

      &_portfolio {
         @extend .section--anchor;
         top: -5rem;
      }
   }

   &--header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;

      padding: var(--padding-body);
      background: url("/assets/line-distortions-4-transparentcolours.png") no-repeat center;
      background-size: cover;
   }

   &--container {
      &_row {
         display: flex;
         gap: 1rem;

         &_space-between {
            display: flex;
            gap: 1.5rem;
            justify-content: space-between;
            flex-wrap: wrap;
         }
      }

      &_column {
         display: flex;
         flex-direction: column;
         width: 100%;
         gap: 2.5rem;
         padding-left: var(--padding-body);
         padding-right: var(--padding-body);

         &_border-bottom {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-bottom: 1px solid var(--textColor);
         }
      }

      &_text {
         display: flex;
         flex-direction: column;
         gap: 2rem;
         margin: 2rem auto;
      }
   }

   &--avatar {
      width: fit-content;
      height: fit-content;
      border-radius: 100px;
      overflow: visible;
      margin-right: var(--padding-body);

      img {
         width: 250px;
         height: auto;
         object-position: top;
         object-fit: cover;
         clip-path: circle();
      }
   }

   &--heading {
      width: fit-content;

      &_xl {
         @extend .section--heading;
         font-size: var(--font-size-xl);
         font-weight: normal;
      }

      &_lg {
         @extend .section--heading;
         font-size: var(--font-size-l);
         font-weight: normal;
      }

      &_md {
         @extend .section--heading;
         font-size: var(--font-size-m);
         font-weight: 500;
      }

      &_sm {
         @extend .section--heading;
         font-size: var(--font-size-s);
         font-weight: normal;
      }
   }

   &--paragraph {
      font-size: 1rem;
      opacity: 0.8;

      &_centered {
         align-self: center;
         text-align: center;
      }
   }

   &--callout {
      padding: 1rem;
      width: 33%;
      min-width: 230px;
      height: fit-content;
      margin-left: auto;

      border: 2px dotted var(--yellow);

      animation: fade-in-right;
      animation-duration: 800ms;
   }

   &--link {
      width: fit-contents;
      text-decoration: none;
      color: var(--textColor);

      &:hover {
         text-decoration: underline;
      }

      &:active {
         opacity: 0.8;
      }

      &:focus {
         background: linear-gradient(to bottom, rgb(0, 0, 0, 0.0001) 60%, var(--textColor-20) 60%);
      }

      &:focus-visible {
         outline: 2px solid var(--textColor);
         outline-offset: 0.25em;
      }

      &_button {
         display: flex;
         align-items: center;
         gap: 1rem;
         flex-wrap: wrap;
      }

      &_bg-box {
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         padding: 2rem 4rem;
         gap: 2.5rem;
         background-color: var(--backgroundColor);
         filter: invert(5%);
      }

      &_with-icon {
         @extend .section--link;
         display: flex;
         align-items: center;
         gap: 1rem;

         &:hover {
            background: linear-gradient(to bottom, rgb(0, 0, 0, 0.0001) 50%, var(--textColor-20) 50%);
            text-decoration: none;
         }

         &_lg {
            @extend .section--link;
            display: flex;
            align-items: inherit;
            margin-right: auto;
            gap: 1rem;
            padding-left: 1rem;

            text-wrap: nowrap;
            font-size: var(--font-size-l);
            text-decoration: none;

            span {
               height: 40px;
               width: 42px;
               background-color: var(--textColor);
               -webkit-mask: url(/assets/SVG/camod-logo-black.svg) no-repeat center;
               mask: url(/assets/SVG/camod-logo-black.svg) no-repeat center;
            }
         }
      }
   }
}

.link-button {
   display: flex;
   align-items: center;
   gap: 6px;
   padding: 0.5rem 1rem;
   height: fit-content;
   background-color: var(--red);
   color: var(--backgroundColor);
   font-size: var(--font-size-s);

   text-decoration: none;

   &:hover {
      scale: 1.01;
      transition: all 100ms;
   }

   &:active {
      scale: 0.9;
      transition: all 100ms;
   }

   &:focus {
      outline: 2px solid var(--textColor);
   }

   &:focus-visible {
      outline: 2px solid var(--textColor);
      animation: press 0.5s ease;
   }

   &--label {
      font-size: var(--font-size-s);

      &_sm {
         font-size: var(--font-size-xs);
      }
   }
}

.toggle-button {
   color: var(--backgroundColor);
   background-color: var(--textColor);
   border: none;
   width: calc(var(--font-size-l) + 1.5rem);
   height: calc(var(--font-size-l) + 1.5rem);
   border-radius: calc((var(--font-size-l) + 1.5rem) / 2);
   z-index: 3;
   flex-shrink: 0;

   span {
      margin: 0;
      padding: 0;
      font-size: var(--font-size-l);
   }

   &:focus {
      outline: 2px solid var(--textColor);
      outline-offset: 3px;
   }
}

@keyframes fade-in-right {
   from {
      transform: translateX(100px);
      opacity: 0;
   }

   to {
      transform: translateX(0px);
      opacity: 1;
   }
}

.portfolio-item {
   &--header {
      display: flex;
      flex-wrap: wrap;
      padding: 2.5rem 5rem 2.5rem 0;
      gap: 2rem;
      height: fit-content;
      row-gap: 1rem;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      position: relative;
      border-top: 1px solid var(--textColor);
      background-color: var(--backgroundColor);
      z-index: 1;

      cursor: pointer;

      &:focus {
         outline: 3px solid var(--yellow);
      }

      &:focus-visible {
         outline: 3px solid var(--yellow);
      }
   }

   &--name {
      font-size: var(--font-size-l);
      font-weight: normal;
   }

   &--date {
      opacity: 0.7;
   }

   &--taglist {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 1rem;
   }

   &--tag {
      text-wrap: nowrap;
      padding: 0.3rem 0.5rem;

      border: 1px solid;
      font-size: var(--font-size-s);
   }

   &--accordion-button {
      position: absolute;
      right: 0rem;
      padding: 0.5rem;
      transition: all 0.3s;
      align-self: flex-start;
      cursor: pointer;

      &:hover {
         transform: translateY(5px);
         transition: all 0.2s ease;
      }

      &_active {
         transform: rotate(180deg);
         transition: all 0.3s;

         &:hover {
            transform: translateY(-5px) rotate(180deg);
            transition: all 0.2s ease;
         }
      }
   }

   &--details {
      display: flex;
      height: auto;
      flex-direction: column;
      padding-bottom: 5rem;
      overflow: hidden;
      border-bottom: 1px solid var(--textColor);
      z-index: 0;
      overflow: hidden;
      transform: translate(0);
      transition: transform ease 500ms;

      &_collapsed {
         display: flex;
         height: auto;
         flex-direction: column;
         padding-bottom: 5rem;
         overflow: hidden;
         border-bottom: 1px solid var(--textColor);
         z-index: 0;
         overflow: hidden;
         transform: translateY(-100px);
      }
   }

   &--container {
      &_rows {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         gap: 2.5rem;
         margin: 2.5rem 0;
      }

      &_responsive-grid {
         display: grid;
         width: 100%;
         grid-template-columns: 1fr 1fr;
         gap: 2.5rem;
         margin-bottom: 5em;
         grid-auto-flow: row;
      }
   }

   &--description {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      margin: 0;

      &_objective {
         @extend .portfolio-item--description;
         flex: 1;
         min-width: 300px;
      }

      &_summary {
         @extend .portfolio-item--description;
         flex: 2;
         min-width: 300px;
      }

      &_figure {
         @extend .portfolio-item--description;
      }
   }

   &--figure {
      display: flex;
      flex-direction: column;
      gap: 2rem;
   }

   &--image {
      width: 100%;
      height: auto;
      opacity: 0.9;
      object-fit: cover;

      &_hero {
         @extend .portfolio-item--image;
      }
   }
}

.figure {
   margin: 0;

   &--heading {
      font-size: var(--font-size-s);
      font-weight: normal;
   }

   &--text {
      opacity: 0.7;
   }

   &--image {
      width: 100%;
      height: auto;
      opacity: 0.8;
   }

   &--video {
      width: 100%;
      height: 600px;
   }
}
